:root {
  --main-accent: #371295;
}

::selection {
  background-color: rgba(63, 46, 138, 0.99);
  color: white;
}

a:hover {
  color: var(--main-accent) !important;
}

.App {}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */
.Navbar {
  padding: 0;
}

.Navbar--brand.navbar-brand {
  font-weight: 900;
  font-size: 3rem;
  color: var(--main-accent);
  margin: 0;
  padding: 0;
}

.Navbar--brand.navbar-brand:after {
  content: "beta";
  text-transform: uppercase;
  font-weight: normal;
  font-size: 1rem;
  color: grey;
}

.Navbar .navbar-collapse .nav-link {
  color: black;
  font-weight: bold;
}

/* HERO */
.App--hero {}

.App--hero h1 {
  font-size: 3rem;
  font-weight: bold;
}

.App--hero p {
  font-size: 2rem;
  color: var(--main-accent);
}

.App--hero p a {
  color: var(--main-accent);
  text-decoration: underline;
}

.App--dimmer {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: var(--main-accent);
  z-index: 5;
  transition: .7s;
  -webkit-transition: .7s;
  -moz-transition: .7s;
  -ms-transition: .7s;
  -o-transition: .7s;
  user-select: none;
  pointer-events: none;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}